h1{
    background-color:darkcyan;
    padding: 30px;
    padding-left: 50px;
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 40px;
}

body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 17px;
    background-image: url(mediji/pozadina.jpg);
}

h3{
    color:brown;
    padding-left: 30px;
}

h2{
    padding-left: 20px;
}

p{
    padding-left: 40px;
}

ol{
    padding-left: 70px;
}

ul{
    padding-left: 70px;
}

img{
    height: 400px;
    margin: 20px;
    border: 2px solid darkcyan;
}

video{
    margin: 20px;
    border: 2px solid darkcyan;
}

iframe{
    margin: 20px;
    border: 2px solid darkcyan;
}

audio{
    margin: 20px;
    border: 2px solid darkcyan;
}

a{
    margin: 20px;
    line-height: 40px;
    padding: 10px;
    background-color: darkcyan;
    color: white;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}